{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #ddd;
        }
        .webix_view, .webix_el_box .webixtype_form {
            font-family: 'PT Sans', Tahoma, 'Nanum Gothic', 'Malgun Gothic', serif;
        }
        .t_center .webix_cell {
            text-align: center;
        }
        .webix_view.webix_form.word_input {
            border-radius: 6px;
        }
        .word_input.noun {
            background-color: #CD812B;
        }
        .word_input.verb {
            background-color: #F17075;
        }
        .word_input.adverb {
            background-color: #7B6A97;
        }
        .word_input.adjective {
            background-color: #608F63;
        }
        .word_input .webix_el_label {
            font-size: 30px;
            color: whitesmoke;
        }
        .main_container {
            margin: 0 auto;
        }
        .hide {
            display:none !important;
        }
        .inline_block {
            display: inline-block;
        }
        .love_heart {
            width: 100%;
            height: 100%;
            margin: auto 0;
            background-image: url({{ asset('images/love_heart_512.png') }});
        }
        .love_heart div {
            font-size: 50px;
            margin: auto 0;
            padding-top: 200px;
            text-align: center;
        }
        .webix_ss_header .webix_hs_center table td div.webix_hcell {
            text-align: center;
        }
        .new_word_value {
            background-color:#FFAAAA;
        }
        .word_datatable_row_hover {
            background-color:#F0DCB6;
        }
        .checked_row {
            background-color: #DDFFDD;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="UTF-8">
        "use strict";

        webix.i18n.setLocale("ko-KR");

        function isUndefined(value) {return typeof value === "undefined";}

        if (isUndefined(window.sg)) {
            window.sg = {};
        }

        var sgWord = {
            noun: {id: "noun", name: "명사", code: 0},
            verb: {id: "verb", name: "동사", code: 1},
            adverb: {id: "adverb", name: "부사", code: 2},
            adjective: {id: "adjective", name: "형용사", code: 3}
        };

        var sgGenre = {
            poetry : {id:"poetry", name:"시", code:0},
            nursery_rime : {id:"nursery_rime", name:"동시", code:1},
            novel : {id:"novel", name:"소설", code:2},
            essay : {id:"essay", name:"수필", code:3},
            fairy_tail : {id: "fairy_tail", name : "동화", code:4},
            etc : {id:"etc", name:"기타", code:5}
        };

        var sgContext = {
            currentMenuId : "show_word"
        };


        sg.context = sgContext;
        sg.word = sgWord;
        sg.genre = sgGenre;

        function showLovePopup() {
            webix.ui({
                view:"popup",
                width: 542, height:542,
                position:"center",
                head:"사랑합니다",
                body: {
                    template:"<div class='love_heart'><div>사랑합니다</div></div>"
                }
            }).show();
        }

        function makeWordDataTable(word, genre) {
            return {
                id: word.id, view: "datatable", columns: [
                    {id: "number", header: "No.", width: 50, css: "t_center"},
                    {id: "status", header: {content: "masterCheckbox"}, template: "{common.checkbox()}", width: 40},
                    {id: "word", header: "단어", sort:"string", fillspace: true},
                    {id: "created", header: "만든날", sort:"int", format:webix.i18n.fullDateFormatStr, width: 200, css: "t_center"}
                ],
                data: getWordData(word, genre),
                schema:{
                    $change:function(item) {
                        console.log(item);
                    }
                },
                hover:"word_datatable_row_hover",
                select:false,
                on : {
                    onItemClick : function(id, event, node) {
                        var item = this.getItem(id.row);
                        item.status = !item.status;
                        if (item.status) {
                            this.addRowCss(id.row, "checked_row");
                        } else {
                            this.removeRowCss(id.row, "checked_row");
                        }
                        this.refresh(id.row);
                    }
                }
            }
        }

        function getWordDataFromServer(word, genre) {
            var jsonData = webix.ajax().sync().post("get/word/" + word.code + "/" + genre.code);
            var statusCode = jsonData.status;
            var result = [];
            if (statusCode === 200) {
                result = JSON.parse(jsonData["response"]);
                var count = 1;
                $(result).each(function(index, value) {
                    value["status"] = 0;
                    value["number"] = count++;
                    value["created"] = new Date(Number(value["created"]));
                    result[index] = value;
                });
            }
            return result;
        }

        function getWordData(word, genre) {
            return getWordDataFromServer(word, genre);
        }

        function getWordCountInGenreFromServer(genre) {
            var code;
            if (isUndefined(genre)) {
                code = 0;
            } else {
                code = genre.code;
            }
            var countData = webix.ajax().sync().post("get/word/count/genre/" + code);
            var statusCode = countData.status;
            var result = 0;
            if (statusCode === 200) {
                result = countData.response;
            }
            return result;
        }

        function getWordCountInGenre(genre) {
            return getWordCountInGenreFromServer(genre);
        }

        function getGenreData() {
            var result = [];
            for(var key in sg.genre) {
                if (sg.genre.hasOwnProperty(key)) {
                    var genre = sg.genre[key];
                    var count = getWordCountInGenre(genre);
                    result.push({id:genre.id, icon:"support", value : genre.name, badge:count});
                }
            }

            return result;
        }

        function updateWordDataTable(genre) {
            var availableWords = sg.word;
            for(var key in availableWords) {
                if (availableWords.hasOwnProperty(key)) {
                    var wordData = getWordData(availableWords[key], genre);
                    $$(availableWords[key].id).clearAll();
                    $$(availableWords[key].id).parse(wordData);
                }
            }
        }

        function makeNewWordData(newWordValue) {
            var dateObj = new Date();
            var currentTime = dateObj.getTime();
            return {id:currentTime, status:0, number: 0, word:newWordValue, wordType:0, genreType:0, created:dateObj, backup:0};
        }

        var topToolbar = {
            id:"toolbar", view:"toolbar",cols:[
                { view:"label", template: "Sentence Generator 시어 생성기 사랑합니다♥"},
                {
                    id:"show_word", view:"button", type:"icon", icon:"envelope", label:"단어보기", width:100, align:"left", on:{
                        onItemClick:function(id) {
                            if (sg.context.currentMenuId !== "show_word") {
                                $$("body_layout").removeView("side_menu");
                                $$("body_layout").addView(wordListMenu, 0);
                                $$("side_menu").select(sg.genre.poetry.id);
                            }

                            sg.context.currentMenuId = "show_word";
                        }
                    }
                },
                {
                    id:"show_favorite", view:"button", type:"icon", icon:"users", label:"즐겨찾기", width:100, align:"left", on:{
                        onItemClick:function(id) {
                            if (sg.context.currentMenuId !== "show_favorite") {
                                $$("body_layout").removeView("side_menu");
                                $$("body_layout").addView(favoriteMenu, 0);
                                $$("side_menu").select(1);
                            }

                            sg.context.currentMenuId = "show_favorite";
                        }
                    }
                },
                {
                    id:"show_generate", view:"button", type:"icon", icon:"cog", label:"문장생성", width:100, align:"left", on:{
                        onItemClick:function(id) {
                            if (sg.context.currentMenuId !== "show_generate") {
                                $$("body_layout").removeView("side_menu");
                                $$("body_layout").addView(generateMenu, 0);
                                $$("side_menu").select(1);
                            }

                            sg.context.currentMenuId = "show_generate";
                        }
                    }
                }
            ]
        };

        var wordInputForm = {
            view: "form", id: "word_input_form", css: "word_input noun", elements: [
                {id:"word_input_title", view: "label", label: "명사"},
                {
                    cols: [
                        {
                            id: "new_word_input", view: "text", label: "", on:{
                                onKeyPress: function(keyCode, event) {
                                    if (keyCode === 13) {
                                        showLovePopup();
                                    }
                                }
                            }
                        },
                        {
                            view: "button", value: "입력", type: "form", width: 100, on:{
                                onItemClick: function(id, event) {
                                    var newWordValue = $$("new_word_input").getValue();
                                    if (newWordValue !== "") {
                                        var currentTabBarItemId = $$("tabbar").getValue();
                                        var newData = makeNewWordData(newWordValue);
                                        $$(currentTabBarItemId).add(newData, 0);
                                        $$(currentTabBarItemId).addRowCss(newData.id, "new_word_value");
                                    }
                                    return false;
                                }
                            }
                        }
                    ]
                }
            ]
        };

        var wordListTabBar = {
            id:"tabbar", view: "tabbar", value:sg.word.noun.id, multiview:true, options: [
                {id: sg.word.noun.id, value: sg.word.noun.name},
                {id: sg.word.verb.id, value: sg.word.verb.name},
                {id: sg.word.adverb.id, value: sg.word.adverb.name},
                {id: sg.word.adjective.id, value: sg.word.adjective.name}
            ],
            on: {
                onAfterTabClick: function(id, event) {
                    console.log("on after");
                },
                onBeforeTabClick: function(id, event) {
                },
                onChange: function(newValue, oldValue) {
                    var wordInputTitle = $$("word_input_title");
                    var $wordInputTitle = jQuery("div[view_id='word_input_form']");
                    $wordInputTitle.removeClass(oldValue).addClass(newValue);
                    if (newValue == sg.word.noun.id) {
                        wordInputTitle.setValue(sg.word.noun.name);
                    } else if (newValue == sg.word.verb.id) {
                        wordInputTitle.setValue(sg.word.verb.name);
                    } else if (newValue == sg.word.adverb.id) {
                        wordInputTitle.setValue(sg.word.adverb.name);
                    } else if (newValue == sg.word.adjective.id) {
                        wordInputTitle.setValue(sg.word.adjective.name);
                    }
                }
            }
        };

        var nounDataTable = makeWordDataTable(sg.word.noun, sg.genre.poetry);
        var verbDataTable = makeWordDataTable(sg.word.verb, sg.genre.poetry);
        var adverbDataTable = makeWordDataTable(sg.word.adverb, sg.genre.poetry);
        var adjectiveDataTable = makeWordDataTable(sg.word.adjective, sg.genre.poetry);

        var wordLists = {
            cells:[
                nounDataTable,
                verbDataTable,
                adverbDataTable,
                adjectiveDataTable
            ]
        };

        var favoriteMenu = {
            id: "side_menu", view: "menu", layout: "y", select:true, width: 200, data: [
                {id: 1, icon: "support", value: "♥ 이름별 보기", badge: "12"},
                {id: 2, icon: "support", value: "★ 평가별 보기", badge: "27"}
            ],
            on: {
                onMenuItemClick: function (id) {
                    console.log(id);
                }
            }
        };
        var generateMenu = {
            id: "side_menu", view: "menu", layout: "y", select:true, width: 200, data: [
                {id: 1, icon: "support", value: "문장생성", badge: "12"}
            ],
            on: {
                onMenuItemClick: function (id) {
                    console.log(id);
                }
            }
        };

        var wordListMenu = {
            id: "side_menu", view: "menu", layout: "y", select: true, width: 200, data: getGenreData(),
            on: {
                onMenuItemClick: function (id) {
                    var selectedGenre = sg.genre[id];
                    updateWordDataTable(selectedGenre);
                }
            }
        };

        var bodyLayout = {
            id:"body_layout",
            cols: [
                wordListMenu,
                {$template: "Spacer", width: 10},
                {
                    rows: [
                        wordInputForm,
                        {$template: "Spacer", height: 10},
                        wordListTabBar,
                        wordLists
                    ]
                }
            ]
        };

        webix.ui({
            type:"wide", css:"main_container", cols:[
                {
                    type: "space", width:960, rows: [
                        topToolbar,
                        bodyLayout
                    ]
                }
            ]
        });

        $$("side_menu").select(sg.genre.poetry.id);
        $$("word_input_title").setValue(sg.word.noun.name);
    </script>
{% endblock %}
